* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding-left: 60px;
    padding-right: 60px;
    font-family: 'Lalezar', cursive;
    background-color: rgb(28,133,193);
  }
  
header nav{
    display: flex;
    align-items: center;
    padding-right: 40px;
    padding-left: 100px;

}
header nav a{
    color: white;
    text-decoration: none;
    padding-right: 100px;
    font-size: 25px;
    margin-left: 40px;
}

header nav a:hover{
    color: #3199ef;
}

header .logo{
    display: flex;
    align-items: center;
    padding-left: 40px;
    margin-right: 40px;
}

header .texto-bienvenida{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 25px;
    align-items: center;
    padding-right: 30px;
    margin: 0;
}

header .texto-bienvenida p{
    margin: 0;
}

form h1{
    font-size: 40px;
    color: rgb(0, 0, 0);
    font-family: 'Lalezar', cursive;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

label {
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family: 'Lalezar', cursive;
    padding-left: 40px;
}

input{
    width: 40%;
    height: 30px;
    margin: 10px;
    padding-left: 10px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
}

input #nombre {
    margin-left: 5%;
}

select{
    width: 10%;
    height: 30px;
    margin: 10px;
    padding-left: 10px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
}

textarea{
    width: 50%;
    height: 100px;
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    margin-left: 100px;
}

button{
    width: 30%;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(28,133,193);
    color: white;
    margin-left: 15%;
    margin-bottom: 20px;
}





footer {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

footer .contacto {
    font-size: 20px;
    height: 80px;
    color: white;
    font-size: 22px;
    font-family: 'Lalezar', cursive;
    padding-left: 340px ;
    padding-top: 10px;
    background-color: rgb(28,133,193);
}

footer .contacto h1{
    margin-bottom: -3%;
}
footer nav{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 180px;
    padding-right: 160px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: rgb(34,46,58);
}
footer nav a{
    color: white;
    text-decoration: none;
    font-size: 30px;
}